

#news
{
    background-color: #d1d6e0;
    color: #27449e;
}

#news a
{
    color: black;
}

#news a:hover
{
    background-color: #d1d6e0;
}

#newsHead
{
    border-top: 2px solid #2ac1f1;
    border-bottom: 2px solid #2ac1f1;
    font-size: 12pt;
}

#allNews
{
    background-color: #2ac1f1;
    font-weight: bold;
}

ul 
{
    list-style-type: none;
}

footer, footer a, a:hover
{
    color: white;
    background-color: #333333;
}

