.header {
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: .5em;
}
#pageHeader {
   font-style: italic;
}

#lunchMenu {
    border-top: lightgray;
    border-top-style: solid;
    margin-top: .5em;
}

#topLine{
    border-top: lightgray;
    border-top-style: solid;
    margin-top:5em;
}