ul 
{
    list-style-type: none;
}

body {
    background-color: lightgray;
}

footer, footer a
{
    color: white;
    background-color: #333333;
    margin-top: 5px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

/* .carousel {
    height: 200px;
} */

.carousel-control-next:hover {
    background-color:rgb(213, 230, 236);
    opacity: 40%;
}

.carousel-control-prev:hover {
    background-color:rgb(213, 230, 236);
    opacity: 40%;
}

/* .w-100 {
    width: 80%;
    height: 80%;
} */

.fixed-height {
    height: 100%;
}

.carousel-caption {
    background-color: darkgrey; 
    opacity: 88%;
}

.carousel-item {
    height: max-content;
}

#mainSlide {
    max-height: 500px;
    overflow: hidden;
}

#newSlideShow {
    min-height: 450px;
}

#feed {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blue {
    color: white;
    background-color: #27448a;
    margin: 1px;
}
